body {
    background-color: grey;
    text-align: center;
}

.list_ingredients {
    display: inline-block;
    text-align: left;
}

.method {
    display: inline-block;
    text-align: center;
    list-style-position: inside;
}
